<%= form_with(model: stadium) do |form| %>
    <% if stadium.errors.any? %>
        <div style="color: red">
        <h2><%= t 'forms.messages.errors', count: stadium.errors.count %></h2>

        <ul>
            <% stadium.errors.each do |error| %>
            <li><%= error.full_message %></li>
            <% end %>
        </ul>
        </div>
    <% end %>

    <div class = "form">
        <div class="mt-2">
          <%= form.label :name, t('.name'), style: "display: block" %>
          <%= form.text_field :name,  placeholder: t('.placeholder.name'), autofocus: true %>
        </div>

        <div class="mt-2">
          <%= form.label :street, t('.street'), style: "display: block" %>
          <%= form.text_field :street,  placeholder: t('.placeholder.street') %>
        </div>

        <div class="mt-2">
            <%= form.label :location_id, t('.location'), style: "display: block" %>
            <%= select(:stadium, :location_id, options_for_select(@locations, :selected => form.object.location_id), :prompt => t('.prompt')) %>
        </div>

        <div class="mt-2">
          <%= form.button nil, class: "btn btn-success" do %>
            <i class="bi bi-check-lg"></i> <%= t('button.submit') %>
          <% end %>
        </div>

    </div>

<% end %>