<div class="container card text-start text-bg-light pb-3 my-3">
  <div class="row text-center py-2">
    <div class="col">
      <h4>
        <%= @stadium.name %>
        <% if @stadium.street.present? %>
            <%= t('.street') %> <%= @stadium.street %>,
        <% end %>
        <%= Location.human_enum_name(:loctype, @stadium.location.loctype) %> <%= @stadium.location.name %>
        <% if @stadium.location.district.present? %>
            <%= @stadium.location.district %> <%= t('.district') %>,
        <% end %>
        <% if @stadium.location.region.present? %>
            <%= @stadium.location.region %> <%= t('.region') %>,
        <% end %>
        <%= @stadium.location.country %>
        <% if user_signed_in? %>
          <%= link_to '<i class="bi bi-highlighter"></i>'.html_safe, edit_stadium_path(@stadium), class: "btn btn-secondary ms-2" %>
        <% end %>
      </h4>
    </div>
  </div>
  <div style="text-align: justify; text-indent: 15px;">
    <% if @stadium.stadiuminfo.present? %>
      <%= @stadium.stadiuminfo %>
    <% else %>
      <%= t('.stadiuminfo_empty') %>
    <% end %>
  </div>
</div>