<div class="col-sm-4">
    <div id="<%= dom_id team %>">
        <div class="card text-bg-light mt-2 mb-3">
            <div class="card-body">
                <h5 class="card-title">
                    <% if team.teamtype.present? %>
                        <%= team.teamtype %>
                    <% end %>
                    "<%= team.name %>"
                </h5>
                <h5 class="card-text">(<%= team.represent %>)</h5>
                <%= link_to '<i class="bi bi-file-text"></i>'.html_safe, teams_searchposts_path(id: team.id), :method => :get, class: "btn btn-secondary btn-sm ms-1" %>
                <%= link_to '<i class="bi bi-person-vcard"></i>'.html_safe, team, class: "btn btn-secondary btn-sm ms-1" %>
                <% if user_signed_in? %>
                    <%= link_to '<i class="bi bi-highlighter"></i>'.html_safe, edit_team_path(team), class: "btn btn-secondary btn-sm ms-1" %>
                <% end %>
            </div>
        </div>
    </div>
</div>
