<div class="container text-start text-bg-light border border-color-translucent rounded pb-3 my-3">
  <div class="row text-center py-2">
    <div class="col">
      <h4>
        <% if @team.teamtype.present? %>
            <%= @team.teamtype %>
            <% end %>
            "<%= @team.name %>" (<%= @team.represent %>)
        <% if user_signed_in? %>
          <%= link_to '<i class="bi bi-highlighter"></i>'.html_safe, edit_team_path(@team), class: "btn btn-secondary ms-2" %>
        <% end %>
      </h4>
    </div>
  </div>
  <%= @team.teaminfo %>
</div>