<div class="container card text-start text-bg-light pb-3 my-3">
  <div class="row text-center py-2">
    <div class="col">
      <h4>
        <%= cl_image_tag(@team.teamlogo.key, height: 100, crop: :scale) if @team.teamlogo.present? %>
        <%= @team.teamtype if @team.teamtype.present? %>
        "<%= @team.name %>" (<%= @team.represent %>)
        <% if user_signed_in? %>
          <%= link_to '<i class="bi bi-highlighter"></i>'.html_safe, edit_team_path(@team), class: "btn btn-secondary ms-2" %>
        <% end %>
      </h4>
    </div>
  </div>
  <div style="text-align: justify; text-indent: 15px;">
    <% if @team.teaminfo.present? %>
      <%= @team.teaminfo %>
    <% else %>
      <%= t('.teaminfo_empty') %>
    <% end %>
  </div>
</div>