<div class="col-sm-4">
    <div id="<%= dom_id post_about_stadium %>">
        <div class="card text-bg-light mt-2 mb-3">
            <div class="card-body">
                <h5 class="card-title"><%= post_about_stadium.post.title %></h5>
                <h6 class="card-text"><%= post_about_stadium.post.postdate %></h6>
                <h6 class="card-text">
                    <i class="bi bi-geo-alt"></i>
                    <% if post_about_stadium.stadium.street.present? %>
                        <%= t('.street') %> <%= post_about_stadium.stadium.street %>,
                    <% end %>
                    <%= Location.human_enum_name(:loctype, post_about_stadium.stadium.location.loctype) %> <%= post_about_stadium.stadium.location.name %>
                </h6>
                <p class="card-text">
                    <%= post_about_stadium.post.content.to_plain_text.truncate(128) %>
                </p>
                <%= link_to '<i class="bi bi-file-text"></i>'.html_safe, post_path(id: post_about_stadium.post_id), :method => :get, class: "btn btn-secondary btn-sm ms-1" %>
                <%= link_to '<i class="bi bi-highlighter"></i>'.html_safe, edit_post_about_stadium_path(post_about_stadium), class: "btn btn-secondary btn-sm ms-1" %>
            </div>
        </div>
    </div>
</div>