<%= form_with(model: tournament, html: {class: "card p-3 my-3"}) do |form| %>
    <% if tournament.errors.any? %>
        <div style="color: red">
        <h2><%= t 'forms.messages.errors', count: tournament.errors.count %></h2>

        <ul>
            <% tournament.errors.each do |error| %>
            <li><%= error.full_message %></li>
            <% end %>
        </ul>
        </div>
    <% end %>

    <div class="row g-3">
        <div class="col-md-10">
          <%= form.label :name, t('.name'), style: "display: block" %>
          <%= form.text_field :name,  placeholder: t('.placeholder.name'), autofocus: true, class: "form-control" %>
        </div>

        <div class="col-md-5">
          <%= form.label :subname, t('.subname'), style: "display: block" %>
          <%= form.text_field :subname,  placeholder: t('.placeholder.subname'), class: "form-control" %>
        </div>

        <div class="col-md-5">
          <%= form.label :group, t('.group'), style: "display: block" %>
          <%= form.text_field :group,  placeholder: t('.placeholder.group'), class: "form-control" %>
        </div>

        <div class="col-12">
          <%= form.button nil, class: "btn btn-success" do %>
            <i class="bi bi-check-lg"></i> <%= t('button.submit') %>
          <% end %>
        </div>

    </div>

<% end %>