<div id="<%= dom_id tournament %>">
    <table>
        <tr class = "">
            <td><%= tournament.name %></td>
            <% if tournament.subname.present? %>
                <td>|<%= tournament.subname %></td>
            <% end %>
            <% if tournament.group.present? %>
                <td>|<%= tournament.group %></td>
            <% end %>
            <% if user_signed_in? %>
                <td><%= link_to t('button.edit'), edit_tournament_path(tournament), class: "btn btn-secondary" %></td>
            <% end %>
        </tr>
    </table>
</div>