<nav class="navbar navbar-dark bg-dark">
    <div>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <%= link_to t('navigation.locations'), locations_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to t('navigation.teams'), teams_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to t('navigation.tournaments'), tournaments_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to t('navigation.stadia'), stadia_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to t('navigation.matches'), matches_path, class: "nav-link" %>
            </li>
        </ul>
    </div>

    <div>
        <% if user_signed_in? %>
            <%= button_to 'Logout', destroy_user_session_path, method: :delete, data: { turbo_method: :delete }%>
        <% end %>
    </div>
</nav>