<% if @posts.empty? %>
  <div class="container text-center text-danger">
    <h6><%= t('.posts_empty') %></h6>
  </div>
<% else %>
  <%= form_with(model: album, html: {class: "card p-3 my-3"}) do |form| %>
      <% if album.errors.any? %>
          <div style="color: red">
          <h2><%= t 'forms.messages.errors', count: album.errors.count %></h2>

          <ul>
              <% album.errors.each do |error| %>
              <li><%= error.full_message %></li>
              <% end %>
          </ul>
          </div>
      <% end %>

      <div class="row g-3">

          <div class="col-12">
            <%= form.label :post_id, t('.post'), style: "display: block" %>
            <%= select(:album, :post_id, options_for_select(@posts, :selected => form.object.post_id), {:prompt => t('.prompt.post')}, {:class => "form-select"}) %>
          </div>

          <div>
              <% if album.photos.attached? %>
                  <% @album.photos.each do |photo| %>
                      <%= form.hidden_field :photos, multiple: true, value: photo.signed_id %>
                      <%= cl_image_tag(photo.key, width: 100, crop: :scale) %>
                  <% end %>
              <% end %>
          </div>

          <div class="col-12">
            <%= form.label :photos, t('.photos'), style: "display: block" %>          
            <%= form.file_field :photos, direct_upload: true, multiple: true, class: "form-control" %>
          </div>

          <div class="col-12">
            <%= form.button nil, class: "btn btn-success" do %>
              <i class="bi bi-check-lg"></i> <%= t('button.submit') %>
            <% end %>
          </div>

      </div>

  <% end %>
<% end %>