<div class="container card text-start text-bg-light pb-3 my-3">
    <div class="row text-center py-2">
        <div class="col">
            <h4>
                <%= @album.post.title %>
                <%= link_to '<i class="bi bi-file-text"></i>'.html_safe, post_path(id: @album.post_id), class: "btn btn-secondary ms-2" %>
                <% if user_signed_in? %>
                    <%= link_to '<i class="bi bi-highlighter"></i>'.html_safe, edit_album_path(@album), class: "btn btn-secondary ms-2" %>
                <% end %>
            </h4>
        </div>
    </div>
    <div class="row text-center justify-content-evenly">
        <div class="col-3 text-start text-nowrap">
            <h6><i class="bi bi-calendar3"></i> <%= @album.post.postdate %></h6>
        </div>
        <div class="col-9 text-end">
            <h6><i class="bi bi-geo-alt"></i> <%= Location.human_enum_name(:loctype, @album.post.location.loctype) %> <%= @album.post.location.name %>,
                <% if @album.post.location.district.present? %>
                    <%= @album.post.location.district %> <%= t('.district') %>,
                <% end %>
                <% if @album.post.location.region.present? %>
                    <%= @album.post.location.region %> <%= t('.region') %>,
                <% end %>
                <%= @album.post.location.country %>
            </h6>
        </div>
    </div>

    <%= render 'modal_image_gallery' %>

</div>