<%= form_with(model: match) do |form| %>
    <% if match.errors.any? %>
        <div style="color: red">
        <h2><%= t 'forms.messages.errors', count: match.errors.count %></h2>

        <ul>
            <% match.errors.each do |error| %>
            <li><%= error.full_message %></li>
            <% end %>
        </ul>
        </div>
    <% end %>

    <div class="row g-3">

        <div class="col-md-8">
            <%= form.label :tournament_id, t('.tournament'), style: "display: block" %>
            <%= select(:match, :tournament_id, options_for_select(@tournaments, :selected => form.object.tournament_id), {:prompt => t('.prompt.tournament')}, {:class => "form-select"}) %>
        </div>

        <div class="col-md-4">
            <%= form.label :stage, t('.stage'), style: "display: block" %>
            <%= form.text_field :stage,  placeholder: t('.placeholder.stage'), class: "form-control" %>
        </div>

        <div class="col-md-3">
          <%= form.label :match_date, t('.matchdate'), style: "display: block" %>
          <%= form.date_field :match_date, :value => ( form.object.match_date || Time.now.to_date), class: "form-control" %>
        </div>

        <div class="col-md-9">
            <%= form.label :stadium_id, t('.stadium'), style: "display: block" %>
            <%= select(:match, :stadium_id, options_for_select(@stadia, :selected => form.object.stadium_id), {:prompt => t('.prompt.stadium')}, {:class => "form-select"}) %>
        </div>

        <div class="col-md-6">
            <%= form.label t('.hometeam'), style: "display: block" %>
            <%= select(:match, :home_team_id, options_for_select(@teams, :selected => form.object.home_team_id), {:prompt => t('.prompt.hometeam')}, {:class => "form-select"}) %> 
        </div>

        <div class="col-md-6">
            <%= form.label t('.visitorteam'), style: "display: block" %>
            <%= select(:match, :visitor_team_id, options_for_select(@teams, :selected => form.object.visitor_team_id), {:prompt => t('.prompt.visitorteam')}, {:class => "form-select"}) %>
        </div>

        <div class="col-md-3">
          <%= form.label t('.score'), style: "display: block" %>
          <div class="input-group">          
            <%= form.number_field :home_team_goal, min: 0, step: 1, :value => (form.object.home_team_goal || 0), class: "form-control" %>
            <span class="input-group-text">:</span>
            <%= form.number_field :visitor_team_goal, min: 0, step: 1, :value => (form.object.visitor_team_goal || 0), class: "form-control" %>
          </div>
        </div>

        <div class="col-12">
          <%= form.button nil, class: "btn btn-success" do %>
            <i class="bi bi-check-lg"></i> <%= t('button.submit') %>
          <% end %>
        </div>

    </div>

<% end %>