<div class="col-sm-6">
    <div id="<%= dom_id match %>">
        <div class="card text-bg-light mt-2 mb-3">
            <div class="card-body">
                <table class="card-text text-center table table-light table-borderless table-sm align-middle">
                    <tr>
                        <td colspan="3"><h6>
                            <% if match.tournament.subname.present? || match.tournament.group.present? || match.stage.present? %>
                                <%= match.tournament.name %>.
                            <% else %>
                                <%= match.tournament.name %>
                            <% end %>

                            <% if match.tournament.subname.present? %>
                                <% if match.tournament.group.present? || match.stage.present? %>
                                    <%= match.tournament.subname %>.
                                <% else %>
                                    <%= match.tournament.subname %>
                                <% end %>
                            <% end %>

                            <% if match.tournament.group.present? %>
                                <% if match.stage.present? %>
                                    <%= match.tournament.group %>.
                                <% else %>
                                    <%= match.tournament.group %>
                                <% end %>
                            <% end %>

                            <% if match.stage.present? %>
                                <% if match.stage.scan(/[^0-9]/).empty? %>
                                    <%= t('.tour') %> <%= match.stage %>
                                <% elsif match.stage.scan(/\//).present? %>
                                    <%= match.stage %> <%= t('.playoff') %>
                                <% else %>
                                    <%= match.stage %>
                                <% end %>
                            <% end %>
                        </h6></td>
                    </tr>

                    <tr>
                        <td colspan="3">
                            <i class="bi bi-calendar3"></i> <%= match.match_date %>
                        </td>
                    </tr>

                    <tr>
                        <td><h5>
                            <% if match.home_team.teamtype.present? %>
                                <%= match.home_team.teamtype %>
                            <% end %>
                            "<%= match.home_team.name %>"
                        </h5></td>

                        <td rowspan="2"><h5>
                            <%= match.home_team_goal %>:<%= match.visitor_team_goal %>
                        </h5></td>

                        <td><h5>
                            <% if match.visitor_team.teamtype.present? %>
                                <%= match.visitor_team.teamtype %>
                            <% end %>
                            "<%= match.visitor_team.name %>"
                        </h5></td>
                    </tr>

                    <tr>
                        <td>/<%= match.home_team.represent %>/</td>
                        <td>/<%= match.visitor_team.represent %>/</td>
                    </tr>

                    <tr>
                        <td colspan="3">
                            <i class="bi bi-geo-alt"></i> <%= match.stadium.name %>, <%= Location.human_enum_name(:loctype, match.stadium.location.loctype) %> <%= match.stadium.location.name %>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="3" class="text-start">
                            <%= link_to '<i class="bi bi-file-text"></i>'.html_safe, post_path(id: match.post_id), class: "btn btn-secondary btn-sm ms-1" %>
                            <% if user_signed_in? %>
                                <%= link_to '<i class="bi bi-highlighter"></i>'.html_safe, edit_match_path(match), class: "btn btn-secondary btn-sm ms-1" %>
                            <% end %>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>