<%= form_with(model: post) do |form| %>
    <% if post.errors.any? %>
        <div style="color: red">
        <h2><%= t 'forms.messages.errors', count: post.errors.count %></h2>

        <ul>
            <% post.errors.each do |error| %>
            <li><%= error.full_message %></li>
            <% end %>
        </ul>
        </div>
    <% end %>

    <div class="row g-3">
        <div class="col-12">
          <%= form.label :title, t('.title'), style: "display: block" %>
          <%= form.text_field :title,  placeholder: t('.placeholder.title'), autofocus: true, class: "form-control" %>
        </div>

        <div class="col-md-3">
          <%= form.label :postdate, t('.postdate'), style: "display: block" %>
          <%= form.date_field :postdate, :value => ( form.object.postdate || Time.now.to_date ), class: "form-control" %>
        </div>

        <div class="col-md-9">
          <%= form.label :location_id, t('.location'), style: "display: block" %>
          <%= select(:post, :location_id, options_for_select(@locations, :selected => form.object.location_id), {:prompt => t('.prompt.location')}, {:class => "form-select"}) %>
        </div>

        <div class="field">
          <%= form.label :content, t('.content'), style: "display: block" %>
          <%= form.rich_text_area :content %>
        </div>

        <div class="col-12">
          <%= form.button nil, class: "btn btn-success" do %>
            <i class="bi bi-check-lg"></i> <%= t('button.submit') %>
          <% end %>
        </div>

    </div>

<% end %>