<div class="col-sm-4">
    <div id="<%= dom_id post %>">
    <%= link_to post, class: "text-decoration-none" do %>
        <div class="card text-bg-light mt-2 mb-3">
            <div class="card-body">
                <h5 class="card-title"><%= post.title %></h5>
                <p class="card-text">
                    <h6><i class="bi bi-calendar3"></i> <%= post.postdate %></h6>
                    <%= post.content.to_plain_text.truncate(256) %> 
                </p>
            </div>
        </div>
    <% end %>    
    </div>
</div>