<!DOCTYPE html>
<html>
  <head>
    <title><%= t('appname') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :mig_head %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <%= javascript_importmap_tags %>

    <%= favicon_link_tag asset_path('fzv-32.png') %>
  </head>

  <body class="bg-dark">
    <header class="fixed-top text-white">
      <%= render 'shared/header' %>
    </header>

    <main class="mx-auto mt-5 p-4" style="background-color: #DCDCDC;">
      <%= render 'shared/flash_messages' %>
      <%= yield %>
    </main>

    <footer class="bd-footer text-center text-white">
      <%= render 'shared/footer' %>
    </footer>
  </body>
</html>
